#footBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    z-index: 100;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.footBarContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Footer styles */
  .footer {
    background-color: #333; /* Background color of the footer */
    color: #fff; /* Text color of the footer */
    padding: 20px; /* Padding inside the footer */
    text-align: center; /* Aligning text to center */
  }
  
  .footer p {
    margin: 0; /* Removing default margin for paragraphs */
  }
  
  .footer a {
    color: #fff; /* Link color */
    text-decoration: none; /* Remove underline from links */
  }
  
  .footer a:hover {
    text-decoration: underline; /* Underline links on hover */
  }
  